.image {
  display: flex;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #f4511e;
  border-radius: 1px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
  filter: none;
}

.image:active {
  opacity: 1;
}
