@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Sriracha&display=swap');
* {
  font-family: "Prompt", serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  }
  /* .header {
    background-color: #f4511e;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    text-align: center;
}
.search-bar button {
    padding: 10px 15px;
    border: none;
    background-color: #f4511e;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.search-bar i {
    background-color: #f4511e;
} */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* .box {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 2px dashed #f4511e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    position: relative;
}
.box-left {
    background-color: #fff;
}
.box-right {
    background-color: #fff;
}
.box-content {
    text-align: center;
    color: #ccc;
}
.box-content button {
    background-color: #f4511e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.box-content i {
    background-color: #f4511e;
    margin: 5px;
}
.box-content p {
  font-size: 48px;
} */
/* .center-content {
    text-align: center;
    color: #ccc;
    margin: 10px;
}
.center-content button {
    background-color: #fff;
    color: #f4511e;
    border: 2px solid #f4511e;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 8px;
}
.center-content i {
    margin: 5px;
} */
/* .background-box {
    background-color: #fff3f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .box {
        margin: 20px 0;
    }
}